
body{
    background-color: rgba(243, 237, 237, 0.886);
    font-family: 'Roboto', sans-serif;
}

#categories-container a:hover{
    background-color: blue;
    cursor: pointer;
}

.link:hover{
    cursor: pointer;
}

@media only screen and (max-width: 767px){
    .news-container-div{
        flex-direction: column;
    }
}
